@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-xl;
  }
}
@layer components {
  .btn {
    @apply font-sans bg-white text-black font-bold py-1 px-3 ml-2 my-1 rounded;
  }
  .btn:hover {
    @apply bg-slate-50;
  }
}

/* html,
body {
  padding: 0;
  margin: 0;

}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
